#w3r-dot {
    background-color: #fff;
    background-image: radial-gradient(#d4d4d4 4%, transparent 5%);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
    background-repeat: repeat;
}